@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100&display=swap'); 

html, body [class*="css"] {
    font-family: 'Open Sans', sans-serif; 
    font-size: 18px;
    font-weight: 500;
    color: #091747;
}

.st-emotion-cache-l9bjmx p {
    word-break: break-word;
    margin-bottom: 0px;
    font-size: 22px;
    font-weight: 700;
}

